<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../../partials/head %>
    <script src="/scripts/objects.js"></script>
</head>
<body class="container">

	<header>
		<% include ../../partials/header %>
	</header>

	<main>
        These are all your saved products
        <br>

		<% include ../../partials/toolbar %>

        <table class='grid-table'>
            <tr>
                <th>
                    Image
                </th>
                <th class='left-aligned'>
                    Name
                </th>
                <th colspan='3'>
                    Price
                </th>
                <th>
                    Currency
                </th>
                <th>
                    Website
                </th>
                <th>
                    Description
                </th>
                <th>
                    Last updated
                </th>
                <th>
                </th>
            </tr>
            <% if (objectslist && objectslist.length > 0) { %>
                <% for(var i=0; i < objectslist.length; i++) { %>
                    <tr object-id='<%= objectslist[i]._id %>'>
                        <td style='text-align: center;' data-property='image'><img src='<%= objectslist[i].imageUrl %>' alt='objectslist[i].name '/></td>
                        <td class='left-aligned' data-property='name'><%= objectslist[i].name %></td>
                        <% if (objectslist[i].newPrice - objectslist[i].oldPrice != 0) { %>
                            <td data-property='newPrice' style='font-weight: bold'><%= objectslist[i].newPrice %></td>
                            <td data-property='oldPrice'><%= objectslist[i].oldPrice %></td>
                            <td data-property='priceDifference'>
                                <span style='color: red; font-weight: bold;'>
                                    <% if (objectslist[i].newPrice - objectslist[i].oldPrice > 0) { %>
                                        <i class="fa fa-angle-up" aria-hidden="true"></i>
                                    <% } else { %>
                                        <i class="fa fa-angle-down" aria-hidden="true"></i>
                                    <% } %>
                                    <%= objectslist[i].newPrice - objectslist[i].oldPrice %>
                                </span>
                            </td>
                        <% } else { %>
                            <td data-property='price' colspan='3'><%= objectslist[i].newPrice %></td>
                        <% } %>
                        <td data-property='currency'><%= objectslist[i].currencySymbol %></td>
                        <td data-property='website'><a href='<%= objectslist[i].objectUrl %>'><%= objectslist[i].website %></a></td>
                        <td data-property='description'><%= objectslist[i].description %></td>
                        <td data-property='lastChecked' data-value='<%= objectslist[i].lastChecked %>'></td>
                        <td>
                            <a href='/products/edit/<%= objectslist[i]._id %>'>
                                <i class="fa fa-pencil" aria-hidden="true"></i>
                            </a>
                            <a href='javascript:void(0);' onclick="deleteProduct('<%= objectslist[i]._id %>')">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                            </a>
                            <a href='javascript:void(0);' onclick="refreshProduct(this, '<%= objectslist[i]._id %>')">
                                <i class="fa fa-refresh" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                <% } %>
            <% } else { %>
                <tr>
                    <td colspan='9'> 
                        No data
                    </td>
                </tr>
            <% } %>
        </table>

		<% include ../../partials/paging %>
	</main>

	<footer>
		<% include ../../partials/footer %>
	</footer>
	
</body>
</html>