<!DOCTYPE html>
<html lang="en">
<head>
    <script src="/scripts/objects.js"></script>
	<% include ../../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../../partials/header %>
	</header>

	<main>
        These are all your saved objects
        <br>

		<% include ../../partials/toolbar %>

        <table class='grid-table'>
            <tr>
                <th>
                    Image
                </th>
                <th class='left-aligned'>
                    Name
                </th>
                <th>
                    Old price
                </th>
                <th>
                    New price
                </th>
                <th>
                    Difference
                </th>
                <th>
                    Currency
                </th>
                <th>
                    Website
                </th>
                <th>
                    Description
                </th>
                <th>
                </th>
            </tr>
            <% if (objectslist && objectslist.length > 0) { %>
                <% for(var i=0; i < objectslist.length; i++) { %>
                    <tr object-id='<%= objectslist[i]._id %>'>
                        <td style='text-align: center;' data-property='image'><img src='<%= objectslist[i].imageUrl %>' alt='objectslist[i].name '/></td>
                        <td class='left-aligned' data-property='name'><%= objectslist[i].name %></td>
                        <td data-property='oldPrice'><%= objectslist[i].oldPrice %></td>
                        <td data-property='newPrice'><%= objectslist[i].newPrice %></td>
                        <td data-property='priceDifference '>
                            <% if (objectslist[i].newPrice - objectslist[i].oldPrice < 0) { %>
                                <span style='color: red; font-weight: bold;'><%= objectslist[i].newPrice - objectslist[i].oldPrice %></span>
                        <% } else { %>
                                <%= objectslist[i].newPrice - objectslist[i].oldPrice %>
                        <% } %>
                        </td>
                        <td data-property='currency'><%= objectslist[i].currency %></td>
                        <td data-property='website'><a href='<%= objectslist[i].objectUrl %>'><%= objectslist[i].website %></a></td>
                        <td data-property='description'><%= objectslist[i].description %></td>
                        <td><a href='/objects/edit/<%= objectslist[i]._id %>'>Edit</a></td>
                    </tr>
                <% } %>
            <% } else { %>
                <tr>
                    <td colspan='6'> 
                        No data
                    </td>
                </tr>
            <% } %>
        </table>

		<% include ../../partials/paging %>
	</main>

	<footer>
		<% include ../../partials/footer %>
	</footer>
	
</body>
</html>